* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-family: sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-container {
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.quiz-header {
    padding: 2rem;
    font-family: inherit;
    font-size: 1.3rem;
}

h2 {
    margin: 0;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #8e44ad;
    display: block;
    width: 100%;
    padding: 1rem;
    color: white;
    font-family: inherit;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

button:hover {
    background-color: #732d91;
}

